* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  height: 13vh;
  flex-direction: column;
  box-shadow: 0 2px 15px grey;
}

.logo,
.nav-links {
  display: flex;
}

.logo {
  justify-content: center;
}

.nav-links {
  list-style: none;
  justify-content: space-around;
  margin-bottom: 1vh;
}

.link-item {
  color: grey;
  text-decoration: none;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  min-height: 83vh;
}

.introduction {
  flex: 1;
  text-align: center;
}

.intro-text h1 {
  font-size: 30px;
  margin-top: 25px;
}

.intro-text p {
  line-height: 1.3em;
  font-size: 18px;
  margin-top: 25px;
  color: #585772;
}

.cta {
  padding: 20px 0px 0px 0px;
}

.cta-select {
  border: 2px solid #ffc60a;
  background: transparent;
  color: #9e7900;
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
}

.cta-add {
  color: black;
  border: none;
  background: #ffc60a;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.cover {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 60vh;
  margin-bottom: 20px;
}

.cover img {
  width: 80%;
}

.wrapper {
  display: flex;
  max-height: 120px;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.product {
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.wrapper .item {
  min-width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  margin: 0px 12px;
  background: #d6d3d3;
}

@media screen and (min-width: 600px) {
  header {
    width: 90vw;
    height: 10vh;
    flex-direction: row;
    align-items: center;
    margin: auto;
    box-shadow: none;
  }
  .logo,
  .nav-links {
    flex: 1;
  }
  .logo {
    justify-content: start;
  }
  .nav-links {
    margin-bottom: 0px;
    justify-content: space-around;
  }
  .presentation {
    height: 90vh;
    flex-direction: row;
    align-items: center;
  }
}
